page-home {
font-family: Arial;
 font-size: 15px;
    margin: auto;
    padding: auto;
    
}
 .hn-1 { 
 background-color:red;
    color:white;
}
.hn-1 #image {
  padding-top: 15px;
}
.hn-2 {
     background-color:black;
    color:white;
}
.hn-3 {
     background-color:blue;
    color:white;
}
#bottom{
  padding-left: 20px;
  padding-right: 20px;
}
.container-fluid {
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}
.text-center {
    text-align: center;
}
.img-circle {
    border-radius: 50%;
}