<ion-header>
  <ion-navbar >
    <ion-title> Trang chủ</ion-title>
    </ion-navbar>
    </ion-header>
<ion-content padding>
  <style>
  
</style>
  
  <div id="#bottom">
  <div class="container-fluid hn-1 text-center">
    
    <img id="#image" src="https://s-media-cache-ak0.pinimg.com/564x/75/29/b8/7529b84d789ed1f30f566927b3cd4138.jpg" width="140" high="110" class="img-circle">
    
    <h3>Huy</h3>
    <p>An Giang</p>
</div>
  </div>
  <div class="container-fluid hn-2 text-left">
  <h2>Giới thiệu</h2>
  <p>
   Họ tên :Huỳnh Anh Huy </p>
  <p> Sinh ngày : 28/04/1996</p>
   <p>Nguyên quán : An Giang
  </p>
  <p>
    Sở thích : xem phim ,chơi game,du lịch 
  </p>
  </div>
   <div class="container-fluid hn-3 text-left">
    <h3>Những nơi đã đi </h3>
    <p> Đà lạt </p> 
    <p> Nha trang </p>
    <p>Phú Quốc</p>
    <p>Mũi né </p>
    <p>Hòn tằm </p>
    </div>

</ion-content>